nav ul,
nav ol,
nav li {
	padding: 0;
	margin: 0;
}

.view-is-loading {
	min-height: 24px;
	background: url(../images/icons/loader24.gif) no-repeat center center;
}
.view-is-loading-form-control {
	min-height: 34px;
}


/**
	Header
*/
.main-header {
	background: #c2cbcc;
	font-size: 0;/* Removes spacing from `display: inline-block` */
	height: 40px;
}
.site-logo {
	background: #7f8c8d;
	display: inline-block;
	height: 40px;
	margin: 0;
	overflow: hidden;
	padding: 0 15px 0;
}
	.site-logo img {
		position: relative;
		left: 1px;
		top: -5px;
	}

.main-header .main-menu {
	display: inline-block;
}

.main-menu {
	border-left: 2px dotted #fff;
	font-size: 0;
	vertical-align: top;
}
	.main-menu .trunk-0,
	.main-menu .branch-0 {
		display: inline-block;
		height: 40px;
	}
	.main-menu .leaf {
		color: #5c6566;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
	}
	.main-menu .leaf-0 {
		border-right: 2px dotted #fff;
		display: table-cell;
		height: 40px;
		padding: 0 25px;
		transition: color 0.15s ease-in;
		vertical-align: middle;
	}
	.main-menu .leaf-0:hover {
		color: #fff;
	}

/**
	Board
*/
.board {
	min-height: 400px;
	overflow-x: auto;
	white-space: nowrap;
}
	.column {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
		white-space: normal;
		width: 200px;
	}
		.task {
			margin-bottom: 15px;
		}


/**
	Board config form
*/
.color-select-preview {
	border: 0 none;
}

.color-select-preview-black {
	background-color: #222;
}
.color-select-preview-blue {
	background-color: #3498db;
}
.color-select-preview-brown {
	background-color: #804000;
}
.color-select-preview-cyan {
	background-color: #26d9d2;
}
.color-select-preview-gray {
	background-color: #95a5a6;
}
.color-select-preview-green {
	background-color: #3fc380;
}
.color-select-preview-magenta {
	background-color: #ff00ff;
}
.color-select-preview-maroon {
	background-color: #c0392b;
}
.color-select-preview-navy {
	background-color: #1f3a93;
}
.color-select-preview-orange {
	background-color: #e87e04;
}
.color-select-preview-purple {
	background-color: #bf55ec;
}
.color-select-preview-red {
	background-color: #f22613;
}
.color-select-preview-teal {
	background-color: #1ba39c;
}
.color-select-preview-violet {
	background-color: #913d88;
}
.color-select-preview-yellow {
	background-color: #f7ca18;
}
