parameters:

    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt

    # activecollab
    activecollab_api_token: ~
    activecollab_database_driver: ~
    activecollab_database_host: ~
    activecollab_database_port: ~
    activecollab_database_name: ~
    activecollab_database_user: ~
    activecollab_database_password: ~

    # beethoven
    beethoven_database_driver: pdo_mysql
    beethoven_database_host: 127.0.0.1
    beethoven_database_port: ~
    beethoven_database_name: ~
    beethoven_database_user: ~
    beethoven_database_password: ~
