oh_seven_beethoven_api_default:
    pattern: /
    defaults:
        _controller: OhSevenBeethovenApiBundle:Default:index


# User

beethoven_api_user:
    resource: OhSeven\Beethoven\ApiBundle\Controller\UserController
    type: rest


# Category: Project

oh_seven_beethoven_api_category_project_all:
    pattern: /category/project
    defaults:
        _controller: OhSevenBeethovenApiBundle:Category:allProject
    requirements:
        _method: GET

oh_seven_beethoven_api_category_project_get:
    pattern: /category/project/{id}
    defaults:
        _controller: OhSevenBeethovenApiBundle:Category:getProject
    requirements:
        _method: GET
        id: "\d+"


# Category: Task

oh_seven_beethoven_api_category_task_all:
    pattern: /category/task
    defaults:
        _controller: OhSevenBeethovenApiBundle:Category:allTask
    requirements:
        _method: GET

oh_seven_beethoven_api_category_task_get:
    pattern: /category/task/{id}
    defaults:
        _controller: OhSevenBeethovenApiBundle:Category:getTask
    requirements:
        _method: GET
        id: "\d+"


# Label: Project

oh_seven_beethoven_api_label_project_all:
    pattern: /label/project
    defaults:
        _controller: OhSevenBeethovenApiBundle:Label:allProject
    requirements:
        _method: GET

oh_seven_beethoven_api_label_project_get:
    pattern: /label/project/{id}
    defaults:
        _controller: OhSevenBeethovenApiBundle:Label:getProject
    requirements:
        _method: GET
        id: "\d+"


# Label: Task

oh_seven_beethoven_api_label_task_all:
    pattern: /label/task
    defaults:
        _controller: OhSevenBeethovenApiBundle:Label:allTask
    requirements:
        _method: GET

oh_seven_beethoven_api_label_task_get:
    pattern: /label/task/{id}
    defaults:
        _controller: OhSevenBeethovenApiBundle:Label:getTask
    requirements:
        _method: GET
        id: "\d+"


# Board

beethoven_api_board:
    resource: OhSeven\Beethoven\ApiBundle\Controller\BoardController
    type: rest
